# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Sphinx
docs/_build/

# Virtualenv
.venv/
venv/

# Editor
.vscode/
.idea/
*.swp

# Poetry
poetry.lock
